:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #171717;
  background: #fff;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

input,
button {
  font: inherit;
}
